body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-nav ul {
    list-style: none;
    padding: 10px 0;
    background-color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}

.main-nav li {
    margin: 0 15px;
}

.main-nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.form-container, .dashboard-container {
    background-color: #fff;
    padding: 30px;
    width: 300px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

form label {
    display: block;
    margin: 15px 0 5px 0;
    text-align: right;
}

form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}


h1 {
    color: #3333cc;
}

.list-container {
  display: flex;
  justify-content: center; /* کل لیست وسط صفحه */
  margin-top: 50px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: auto 20px; /* دو ستون: متن | مربع */
  grid-column-gap: 10px;            /* فاصله بین متن و مربع */
}

li {
  display: contents; /* آیتم‌ها را به grid بدهد */
}

li::after {
  content: "■";
  color: #3333cc;
  justify-self: start; /* مربع در ستون خودش ثابت بماند */
}

ul li {
  text-align: right;  /* متن راست چین */
}
.error-message {
    color: red;
    font-size: 12px;
    display: none; /* مخفی بودن پیغام خطا به صورت پیش‌فرض */
}
